body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
}

.btn-container {
    display: flex;
    width: 400px;
    gap: 6px;
}

.number-and-special-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 80%;
}

.number-container,
.clear-container,
.zero-container {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-basis: 80%;
}

.operation-container {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: space-between;
}

.clear-btn,
.number-btn,
.special-btn,
.percentage-btn,
.floating-point-btn,
.clear-btn,
.sign-btn,
.backspc-btn {
    flex: 1 0 33%;
}

.zero-btn {
    flex-basis: 33%;
}