*{
    outline: 2px solid pink;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}